<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a asp-page="/Login" class="login">Login</a></li>
            <li><a asp-page="/Index" class="home">Home</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">
                        Tee Times
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a asp-page="/CreateTeeTime">Request Tee Time</a>
                        <a asp-page="/">Cancel Tee Time</a>
                        <a asp-page="/">Make Standing Tee Time</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        Some Company Name
    </footer>
</body>
</html>
