@page
@model ClubBAISTDev.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div>
    @if (Model.logout == "false" || Model.logout == null)
    {
        <h1>Login</h1>
        <form method="post" name="LoginForm">
            <table>
                <tr>
                    <td>Member Login</td>
                </tr>
                <tr>
                    <td>Member ID:</td>
                    <td>
                        <input asp-for="MemberIdField" type="text" />
                        <span asp-validation-for="MemberIdField"></span>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input asp-for="PasswordField" type="password" />
                        <span asp-validation-for="PasswordField"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="Submit" value="memberlogin">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td>Staff Login:</td>
                <tr>
                    <td>Staff Member ID:</td>
                    <td>
                        <input asp-for="StaffMemberIdField" type="text" />
                        <span asp-validation-for="StaffMemberIdField"></span>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input asp-for="StaffPasswordField" type="password" />
                        <span asp-validation-for="StaffPasswordField"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="Submit" value="stafflogin">Submit</button>
                    </td>
                </tr>
                </tr>
            </table>
        </form>
        @Model.Message
    }
    else
    {
        <h1>Logout</h1>
        <form method="post" name="LogoutForm">
            <table>
                <tr>
                    <td>
                        <button type="submit" name="Submit" value="logout">Logout</button>
                    </td>
                </tr>
            </table>
        </form>
        @Model.Message
    }
</div>